<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar">
        <h5 class="p-3 mb-3 border-bottom">Club Head Dashboard</h5>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a th:href="@{/clubhead/dashboard}" class="nav-link active" aria-current="page">
                    Dashboard
                </a>
            </li>
            <li>
                <a th:href="@{/clubhead/events}" class="nav-link">
                    My Events
                </a>
            </li>
            <li>
                <a th:href="@{/clubhead/events/create}" class="nav-link">
                    Create Event
                </a>
            </li>
            <li>
                <a th:href="@{/}" class="nav-link">
                    Profile
                </a>
            </li>
            <li>
                <a th:href="@{/logout}" class="nav-link text-danger">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</body>
</html> 